* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
p{
    padding: 5px;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fff;
}
a {
    color: unset;
    text-decoration: none;
    display: inline-block;
}
img{
    height: 230px;
    width: 230px;
}
.tieude{
    padding-left:20px ;
    font-size:30px;
    padding: 20px
}
.body{
    width: 1250px;
    margin: auto;
    background-color: #fff;
}
.body_upper1{
}
.body_upper2{
    display: flex;

}
.body_upper2--left{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.body_upper2--right{
}
.list{
    margin: 10px 0 10px 10px;
}
.menu{
    margin: 10px;
}
.body_lower{
    margin-top: 20px;
}
.body_lower--left{
   width: 250px;
}
.body_lower--right{
    width: 1000px;
}
.body_lower--left,
.body_lower--right{
    float: left;
}
.boloc{
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.price{
    color: red;
    font-size: 20px;
}
.plus{
    margin-right:10px ;
}
.tenboloc{
    margin-left: 15px;
}
.grid_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid_items{
    text-align: center;
    padding: 10px;
    border-collapse: inherit;
    border: 1px solid #d8d6d6;
}



