*{
    margin: 0px;
    padding: 0px;
}
.container{
    padding: 0% 10%;
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/
.fa-search{
    position: absolute;
    margin: 12px 0px 15px 480px;
    color: #b5b5b5;
    cursor: pointer;
}
.container_head{
    display: flex;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 5px;
}
.container_head > div{
    margin-right: 40px;
}
.head_flex1{
    display: flex;
}
.head_flex2{
    display: flex;
}
.head_flex2 > a{
    margin-top: 8px;
    margin-right: 50px;
}
.class_input > input{
    font-size: 15px;
    width: 500px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #dbf4ff;
    border-radius: 20px;
    outline: none;
}
.class_input > input:hover{
    border: 1px solid #7fd9ff;
    transition: 0.5s;
}
input[type=text]:focus {
  border: 1px solid #7fd9ff;
}
/*BOX-1*/
.dropdown{
    position: relative;
    margin-top: 10px;
}
.dropdown > a{
    margin-right: 40px;
}
.dropdown > a:hover{
    text-decoration: underline;
    text-underline-offset: 0.56em;
}
.dropdown_box{
    display: none;
    position: absolute;
    width: 970px;
    height: 765px;
    margin-top: 10px;
    background-color: #f3f3f3;
    border: 1px solid #dfdfdf;
    border-radius: 0px 50px 50px 50px;
}
.dropdown_box_flex1{
    display: flex;
}
.dropdown_box_flex1 > div{
    margin-right: 50px;
}
.dropdown_box_flex2{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}
.dropdown_box_flex2 > div{
    border: 1px solid #ececec;
    width: 150px;
    height:260px;
    padding: 7px;
}
.dropdown_box_flex2 > div > div{
    margin-bottom: 5px;
    cursor: pointer;
}
.dropdown_box_flex2 > div > div:hover{
    color: #09bbd0;
    font-weight: bold;
}
.dropdown:hover .dropdown_box{
    display: block;
}
/*BOX-2*/
.dropdown1{
    position: relative;
    margin-top: 10px;
}
.dropdown1 > a{
    margin-right: 40px;
}
.dropdown1 > a:hover{
    text-decoration: underline;
    text-underline-offset: 0.56em;
}
.dropdown1:hover .dropdown_box{
    display: block;
}
#muc{
    margin-bottom: 10px;
    padding-top: 20px;
}
#tuvan{
    width: 300px;
    padding-top: 30px;
}
#sdt{
    color: #09bbd0;
    font-weight: bold;
}
/*main*/
.banner > img{
    width: 903px;
    border: 1px solid #b5b5b5;
    border-radius: 10px 10px 0px 0px;
}
#radius1{
    border-radius: 0px 0px 0px 10px;
}
#radius2{
    border-radius: 0px 0px 10px 0px;
}
.main_flex{
    display: flex;
}
.main_flex > div{
    padding-top: 10px;
    cursor: pointer;
}
.main_flex1 > div:hover{
    background-color: #242368;
    color: #ffffff;
    transition: 0.5s;
}
.main_flex1{
    display: flex;
}
.main_flex1 > div{
    margin-top: -5px;
    border: 1px solid #b5b5b5;
    padding: 10px;
}
.main_flex2{
    display: flex;
    flex-direction: column;
}
.main_flex2 > div{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}
.main_flex2 > div:hover{
    background-color: #242368;
    color: #ffffff;
    transition: 0.5s;
}
.main_banner{
    margin-right: 20px;
}
/*MAIN_2*/
#giamgiasoc{
    margin-bottom: 20px;
}
.main_flex3_div{
    margin-top: 50px;
}
.main_flex3_laptop{
    display: flex;
    flex-wrap: wrap;
}
.main_flex3_laptop > div{
    cursor: pointer;
    padding: 10px;
    height: 500px;
    width: 240px;
    border: 1px solid #b5b5b5;
    font-size: 18px;
}
.main_flex3_laptop > div:hover{
    border: 1px solid #b5b5b5;
    box-shadow: #000000 0px 4px 20px 0px;
}
.main_flex3_laptop > div > img{
    width: 240px;
    text-align: center;
}
.main_flex3_laptop > div > div{
    margin-top: 5px;
}
#cost1{
    color:red;
    font-weight: bold;
}
#cost2{
    text-decoration: line-through;
}
.fa-gift{
    color: red;
}
#xemtatca{
    border: 1px solid #b5b5b5;
    text-align: center;
    width: 150px;
    padding: 15px;
    margin: 20px auto;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
}
#xemtatca:hover{
    background-color: #09bbd0;
    color: #ffffff;
    border: 1px solid #09bbd0;
    transition: 0.5s;
}
.maytinhsachtay{
    margin-top: 10px;
}
.main_flex4{
    display: flex;
}
.main_flex4 > div{
    margin: 10px;
}
.main_flex4 > div > img{
    width: 120px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    cursor: pointer;
}
.main_flex4 > div > img:hover{
    border: 1px solid #09bbd0;
}
#thuonghieu{
    margin-top: 40px;
    font-weight: bold;
    margin-right: 20px;
}
.main_flex5{
    display: flex;
    margin-top: 40px;
}
.main_flex5 > div{
    margin: 10px;
    background-color: #f0f0f0;
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
.main_flex5 > div:hover{
    background-color: #09bbd0;
    color: #ffffff;
}
#khoanggia{
    text-align: left;
    background-color: #ffffff;
    width: 130px;
    margin-top: 20px;
    font-weight: bold;
}
.main_flex3_laptop > div > div > span{
    color: red;
    font-weight: bold;
}
#hangdangve{
    margin-bottom: 20px;
}
/*MAIN 6*/
#phukien{
    margin-bottom: 20px;
}
/*FOOTER*/
.footer{
    background-color: #ffffff;
    padding-bottom: 10px;
}